@tailwind base;
@tailwind components;
@tailwind utilities;

.tab {
  @apply inline-block py-4 px-8 relative bg-white cursor-pointer;
}

.active {
  @apply bg-yellow-500 rounded-t-xl;
}

.tab.active::before {
  content: "";
  box-shadow: 16px 16px 0 rgba(234, 179, 8, 1);
  z-index: 1;
  @apply size-8 rounded-full absolute bottom-0 -left-8;
}

.tab.active::after {
  content: "";
  box-shadow: -16px 16px 0 rgba(234, 179, 8, 1);
  z-index: 1;
  @apply size-8 rounded-full absolute bottom-0 -right-8;
}

.tab:first-child.active::before {
  display: none;
}

.tab:last-child.active::after {
  display: none;
}
